<ion-header>
  <ion-toolbar>
    <ion-title>ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
    <h1>Ingresar</h1>

    <ion-item>
      <ion-label position="fixed">correo:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">contraseña:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button color="primary" routerLink="/menu-principal">Ingresar</ion-button>
    <ion-button color="primary" routerLink="/reestablecer-pass">Olvidé contraseña</ion-button>


  </div>
</ion-content>